In [1]:
import pandas as pd
import json

In [4]:
json_data = """
{ "Country":"India",
    "Product":["Television","computer","Printer"],
    "Location":"Chennai,India",
    "Contact":null,
    "Payments":[{"Online":"Credit Cards / Net Banking","Offline":"Cash","crdit":"NA"}]
}
"""

In [5]:
company_data = json.loads(json_data)

In [6]:
company_data

{'Country': 'India',
 'Product': ['Television', 'computer', 'Printer'],
 'Location': 'Chennai,India',
 'Contact': None,
 'Payments': [{'Online': 'Credit Cards / Net Banking',
   'Offline': 'Cash',
   'crdit': 'NA'}]}

In [7]:
print(company_data['Payments'])

[{'Online': 'Credit Cards / Net Banking', 'Offline': 'Cash', 'crdit': 'NA'}]

In [8]:
json_df = pd.DataFrame(company_data['Product'])

In [9]:
json_df.head()

            0
0  Television
1    computer
2     Printer

In [10]:
jim ={"name":["Varun","jayanth","Aswin"],"Age":["23","22","22"]}

In [11]:
jim_json = json.dumps(jim)

In [13]:
jim_json

'{"name": ["Varun", "jayanth", "Aswin"], "Age": ["23", "22", "22"]}'